<form class="form-signin" *ngIf="isLoggedIn() == false">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
  </div>
  <label for="inputEmail" class="sr-only">Email</label>
  <input
    #email="ngModel"
    [(ngModel)]="user.email"
    type="email"
    id="email"
    name="email"
    class="form-control"
    placeholder="E-mail"
    required
    autofocus
  />
  <label for="inputPassword" class="sr-only">Şifre</label>
  <input
    #password="ngModel"
    [(ngModel)]="user.sifre"
    type="password"
    id="sifre"
    name="sifre"
    class="form-control"
    placeholder="Şifre"
    required
  />

  <button
    class="btn btn-lg btn-primary btn-block"
    type="submit"
    (click)="login(user)"
  >
    Giriş
  </button>
  <div class="row">
    <div class="sub-content">
      <div class="s-part">
        Hesabınız yok mu?<a
          type="button"
          class="btn btn-link"
          data-toggle="modal"
          data-target="#exampleModal"
          (click)="registerClick()"
          data-backdrop="static"
          data-keyboard="false"
          >Hesap Oluştur</a
        >

        <div></div>
      </div>
    </div>
  </div>

  <p class="mt-5 mb-3 text-muted">&copy;2020-2021</p>
</form>

<div
  name="exampleModal"
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog model-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Register</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeClick()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-register *ngIf="ActivateEditComp"></app-register>
      </div>
    </div>
  </div>
</div>
