<div class="row">
  <div *ngFor="let customer of customers" class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <h5 class="card-title">{{ customer.customerName }}</h5>
        <p class="card-text">
          <span><b>Telefon:</b></span
          >{{ customer.customerPhone }}
        </p>
        <p class="card-text">
          <span><b>E-mail:</b></span
          >{{ customer.customerMail }}
        </p>
        <p class="card-text">
          <span><b>Adres:</b></span
          >{{ customer.customerAddress }}
        </p>
        <button
          type="button"
          class="btn btn-outline-info btn-block"
          routerLink="/customer-orders"
        >
          Siparişler
        </button>
        <div class="d-flex justify-content-between align-items-center">
          <small class="text-muted">userId:{{ customer.userId }}</small>
        </div>
      </div>
    </div>
  </div>
</div>
