<h5>{{}}</h5>
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ürün</th>
            <th scope="col">Açıklama</th>
            <th scope="col">Adet</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Telefon</td>
            <td>Iphone 12</td>
            <td>10</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Televizyon</td>
            <td>Samsung LCD</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Laptop</td>
            <td>Apple MacBook</td>
            <td>15</td>
        </tr>
    </tbody>
</table>