<form
  class="form-signin"
  name="resetPasswordForm"
  id="resetPasswordForm"
  #resetPasswordForm
>
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Şifre Yenileme!</h1>
  </div>
  <div class="form-group">
    <label for="email" class="sr-only">E-mail</label>
    <input
      #email="ngModel"
      [(ngModel)]="user.email"
      type="email"
      class="form-control"
      id="email"
      name="email"
      ngModel
      email
      aria-describedby="emailHelp"
      placeholder="E-mail"
      required
    />
    <div *ngIf="email.invalid && email.dirty" class="alert alert-danger">
      E-mail girilmedi veya Hatalı Girildi
    </div>
  </div>
  <div class="form-group">
    <select
      id="sifreKurtarma"
      name="sifreKurtarma"
      class="form-control form-control-sm"
    >
      <option *ngFor="let soru of sorular">
        {{ soru }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="cevap" class="sr-only">Cevap</label>
    <input
      name="cevap"
      #cevap="ngModel"
      [(ngModel)]="user.cevap"
      type="text"
      class="form-control"
      id="cevap"
      placeholder="Cevap"
      required
    />
  </div>

  <div class="form-group" *ngIf="email.value">
    <label for="exampleInputPassword1" class="sr-only">Password</label>
    <input
      #password="ngModel"
      [(ngModel)]="user.sifre"
      type="password"
      class="form-control"
      id="sifre"
      name="sifre"
      placeholder="Password"
    />
  </div>
  <div class="form-group" *ngIf="email.value">
    <label for="exampleInputPassword1" class="sr-only">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      id="confirmsifre"
      name="confirmsifre"
      placeholder="Confirm Password"
    />
  </div>

  <button
    type="submit"
    [disabled]="email.invalid"
    class="btn btn-primary"
    routerLink="/login"
  >
    Submit
  </button>
</form>
