<form class="form-signin">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Üye Ol</h1>
  </div>
  <div class="form-group">
    <label for="email" class="sr-only">E-mail</label>
    <input
      #email="ngModel"
      [(ngModel)]="user.email"
      type="email"
      class="form-control"
      id="email"
      name="email"
      aria-describedby="emailHelp"
      placeholder="E-mail"
    />
  </div>
  <div class="form-group">
    <label for="ad" class="sr-only">Ad</label>
    <input
      #ad="ngModel"
      [(ngModel)]="user.ad"
      type="text"
      class="form-control"
      id="ad"
      name="ad"
      placeholder="Ad"
    />
  </div>
  <div class="form-group">
    <label for="soyad" class="sr-only">Soyad</label>
    <input
      #soyad="ngModel"
      name="soyad"
      [(ngModel)]="user.soyad"
      type="text"
      class="form-control"
      id="soyad"
      placeholder="Soyad"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="sr-only">Password</label>
    <input
      #password="ngModel"
      [(ngModel)]="user.sifre"
      type="password"
      class="form-control"
      id="sifre"
      name="sifre"
      placeholder="Sifre"
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    (click)="register(user)"
    routerLink="/login"
  >
    Submit
  </button>
</form>
