<form class="form-signin">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Üye Ol</h1>
  </div>
  <div class="form-group">
    <label for="email" class="sr-only">E-mail</label>
    <input
      type="email"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
      placeholder="E-mail"
    />
  </div>
  <div class="form-group">
    <label for="username" class="sr-only">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      aria-describedby="emailHelp"
      placeholder="Enter Username"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="sr-only">Password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Password"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
