<body>
  <div *ngIf="isLoggedIn() == false">
    <app-login></app-login>
  </div>

  <div *ngIf="isLoggedIn()">
    <nav
      class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow"
    >
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">CRM</a>
      <button
        class="navbar-toggler position-absolute d-md-none collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a *ngIf="isLoggedIn()" (click)="logOut()" class="nav-link">
            Logout
          </a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav
          id="sidebarMenu"
          class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
        >
          <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" routerLink="/customers">
                  <span data-feather="home"></span>
                  Bayiler <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/customer-add">
                  <span data-feather="file"></span>
                  Bayi Ekle
                </a>
              </li>
              <h6
                class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
              >
                <span>Ürün İşlemleri</span>
              </h6>
              <li class="nav-item">
                <a class="nav-link" routerLink="/products">
                  <span data-feather="file"></span>
                  Ürünler
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/product-add">
                  <span data-feather="shopping-cart"></span>
                  Ürün Ekle
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/order-add">
                  <span data-feather="shopping-cart"></span>
                  Sipariş Gir
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <router-outlet></router-outlet>
        </main>
      </div>
    </div>
  </div>
</body>
